@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(250, 250, 250, 0.9);
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.header__map {
  position: relative;
  width: 100%;
  z-index: 10;
  background-color: rgba(250, 250, 250, 0.9);
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 94px;
}

.header__logo {
  z-index: 5;
}

.header__logo img {
  width: 80px;
}

.header__burger-logo {
  display: none;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
}

.menu__link {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
  font-size: 14px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.menu__linked {
  color: #64121d;
  font-weight: 900;
}

.menu__link:hover {
  color: #64121d;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  left: -15px;
  background-color: rgba(250, 250, 250, 0.9);
  min-width: 200px;
}

.menu__sub-list li {
  width: 100%;
  padding: 10px;
}

.menu__sub-link {
  font-size: 14px;
  font-weight: 600;
  color: #737373;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.menu__sub-link:hover {
  color: #64121d;
}

.menu__arrow {
  display: none;
}

.menu__sub-list li {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.menu__sub-list li:hover {
  background-color: #e6e6e6;
}

/*  */
.menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  pointer-events: all;
}

.menu__sublist-burger {
  display: none;
}

.body__news .menu__news, .body__management .menu__management,
.body__crossings .menu__crossings, .body__projects .menu__projects,
.body__contacts .menu__contacts, .body__company .menu__company,
.body__summer .menu__summer, .body__winter .menu__winter, .body__vacancy .menu__vacancy {
  color: #3D5C99;
  font-weight: 700;
}

/*  */
@media (min-width: 1050px) {
  .menu__list > li:hover .menu__link {
    color: #64121d;
  }
  .menu__list {
    position: relative;
  }
  .menu__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .menu__sub-list > li {
    position: relative;
  }
  .menu__sub-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    -webkit-transform: translate(0px, 10%);
    -moz-transform: translate(0px, 10%);
    -ms-transform: translate(0px, 10%);
    -o-transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }
}

@media (max-width: 1050px) {
  .menu__sublist-burger {
    position: absolute;
    top: 100%;
    left: -10px;
    min-width: 200px;
  }
  .menu__sublist-burger li {
    width: 100%;
    padding: 10px;
  }
  .menu__sublink-burger {
    font-size: 22px;
    font-weight: 600;
    color: #737373;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  .menu__sublink-burger:hover {
    color: #64121d;
  }
  .menu__arrow {
    display: none;
  }
  .menu__sub-list li {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  .menu__sub-list li:hover {
    background-color: #e6e6e6;
  }
  .menu__sub-list {
    display: none;
  }
  .menu__sublist-burger {
    display: block;
    position: relative;
  }
  body._pc .menu__arrow {
    display: none;
  }
  .header__85logo {
    display: none;
  }
  .header__container {
    height: 70px;
  }
  .header__logo {
    display: none;
  }
  .header__burger-logo {
    display: block;
    width: 40px;
    z-index: 60;
  }
  .header__burger-logo img {
    width: 100%;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    background-color: #252B42;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
    -webkit-transform: scale(1) translate(0px, -50%);
    -moz-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    -o-transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 10px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    -webkit-transition: left 0.3s ease 0s;
    -moz-transition: left 0.3s ease 0s;
    -ms-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #fff;
    z-index: 2;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 30px;
  }
  .menu__sub-list {
    position: relative;
    background-color: rgba(250, 250, 250, 0.9);
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 20px 0 0 10px;
    display: none;
  }
  .menu__sub-link {
    font-size: 25px;
    color: #737373;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  .menu__sub-link:hover, .menu__sub-link:active {
    color: #64121d;
  }
}

.menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
  -webkit-transform: scale(0) translate(0px, -50%);
  -moz-transform: scale(0) translate(0px, -50%);
  -ms-transform: scale(0) translate(0px, -50%);
  -o-transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
  -moz-transform: rotate(-45deg) translate(0px, -50%);
  -ms-transform: rotate(-45deg) translate(0px, -50%);
  -o-transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon._active::after {
  top: 50%;
  transform: rotate(45deg) translate(0px, 50%);
  -webkit-transform: rotate(45deg) translate(0px, 50%);
  -moz-transform: rotate(45deg) translate(0px, 50%);
  -ms-transform: rotate(45deg) translate(0px, 50%);
  -o-transform: rotate(45deg) translate(0px, 50%);
}

.footer {
  height: 65px;
  background-color: #64121D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__container {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.footer__container img {
  margin-left: 20px;
  width: 20px;
}

.footer__link {
  margin-top: 5px;
}

.footer__link a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 479px) {
  .footer {
    height: 50px;
    /*     display: block;
    font-size: 12px;
    padding: 10px; */
  }
  .footer__container {
    font-size: 14px;
  }
}

body {
  font-family: Roboto, serif;
  color: #64121D;
  font-size: 14px;
  font-weight: 500;
  min-width: 375px;
  background-color: #FAFAFA;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 10px;
}

.page {
  margin-top: 120px;
  text-align: center;
}

.page__title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 900;
}

.page__subtitle {
  margin-bottom: 10px;
}

.page__img {
  margin-bottom: 25px;
}

.page__img img {
  width: 300px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.page__link {
  margin-bottom: 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.page__link a:hover {
  background-color: rgba(100, 18, 29, 0.95);
}

.page__link a {
  text-decoration: none;
  color: white;
  padding: 15px 40px;
  background-color: #64121D;
  margin-bottom: 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.page__link:active {
  position: relative;
  top: 1px;
}

.page__imgs {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.page__imgs img {
  width: 250px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
}

.imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgs img {
  width: 150px;
}

/* .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
} */

@media (max-width: 900px) {
  .page {
    margin-top: 80px;
    text-align: center;
  }
  .page__title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 800;
  }
  .page__imgs img {
    width: 80px;
  }
}
